<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>star_tut0022.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0021.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>232</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0020.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>331</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0019.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>430</integer>
			<key>width</key>
			<integer>43</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0018.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>529</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0017.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>628</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0016.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>727</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0015.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>826</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0014.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>925</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0013.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0012.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0011.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0010.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0009.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>397</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0008.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>496</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0007.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>595</integer>
			<key>width</key>
			<integer>9</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0006.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>693</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0005.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>791</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0004.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>890</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0003.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0002.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>star_tut0001.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>tut_star001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>34</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>hero_tut.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>125</integer>
		</dict>
		<key>bungel_tut.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>557</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>250</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>254</integer>
		</dict>
		<key>hand_up.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>424</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>vinger_track.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>