<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level</key>
	<dict>
		<key>name</key>
		<string>level 1 test level</string>
		<key>background</key>
		<string>background_2.png</string>
		<key>compounds</key>
		<array>
							
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>160</integer>
					<key>width</key>
					<integer>10</integer>
					<key>height</key>
					<integer>10</integer>
					<key>firstFrame</key>
					<string>enemy_01</string>
					<key>sheet_id</key>
					<integer>2</integer>
					<key>id</key>
					<integer>23</integer>
					<key>name</key>
					<string>hinge</string>
					<key>static</key>
					<true/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>10</integer>
						<key>height</key>
						<integer>10</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
		
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>width</key>
					<integer>30</integer>
					<key>height</key>
					<integer>30</integer>
					<key>firstFrame</key>
					<string>hero_01</string>
					<key>sheet_id</key>
					<integer>2</integer>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>hero</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>30</integer>
						<key>height</key>
						<integer>30</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>40</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>friend_01</string>
					<key>sheet_id</key>
					<integer>2</integer>
					<key>id</key>
					<integer>35</integer>
					<key>name</key>
					<string>friend</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>40</integer>
					<key>width</key>
					<integer>30</integer>
					<key>height</key>
					<integer>30</integer>
					<key>firstFrame</key>
					<string>star_01</string>
					<key>sheet_id</key>
					<integer>2</integer>
					<key>id</key>
					<integer>34</integer>
					<key>name</key>
					<string>star</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>30</integer>
						<key>height</key>
						<integer>30</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>40</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy_01</string>
					<key>sheet_id</key>
					<integer>2</integer>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>bungel</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>160</integer>
					<key>width</key>
					<integer>100</integer>
					<key>height</key>
					<integer>100</integer>
					<key>firstFrame</key>
					<string>rotor_02</string>
					<key>sheet_id</key>
					<integer>3</integer>
					<key>id</key>
					<integer>11</integer>
					<key>name</key>
					<string>rotor2</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>100</integer>
						<key>height</key>
						<integer>12</integer>
						<key>type</key>
						<string>rect</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>1</integer>
						<key>restitution</key>
						<real>0.5</real>
					</dict>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>12</integer>
						<key>height</key>
						<integer>100</integer>
						<key>type</key>
						<string>rect</string>
						<key>points_CCW</key>
						<string>-50|50.0#-100|50#-100|30#-50|0</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>1</integer>
						<key>restitution</key>
						<real>0.5</real>
					</dict>
				</array>
			</dict>
		</array>
        
        <key>contacts</key>
        <array>
            <dict>
                <key>sprite1</key>
                <string>hero</string>
                <key>sprite2</key>
                <string>star</string>
                <key>eventName</key>
                <string>onWin</string>
            </dict>
			<dict>
                <key>sprite1</key>
                <string>hero</string>
                <key>sprite2</key>
                <string>bungel</string>
                <key>eventName</key>
                <string>onLose</string>
            </dict>
        </array>
		
		<key>joints</key>
		<array>
			<dict>
				<key>type</key>
				<string>revolute</string>
				<key>body1</key>
				<string>hinge</string>
				<key>body2</key>
				<string>rotor2</string>
				<key>motorSpeed</key>
				<real>10.0</real>
				<key>maxMotorTorque</key>
				<real>1000.0</real>
				<key>enableMotor</key>
				<true/>
				<key>lowerAngle</key>
				<real>5</real>
				<key>upperAngle</key>
				<real>2</real>
				<key>enableLimit</key>
				<false/>
				<key>collideConnected</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>distance</string>
				<key>body1</key>
				<string>hinge</string>
				<key>body2</key>
				<string>bungel</string>
				<key>dampingRatio</key>
				<real>0.1</real>
				<key>frequencyHz</key>
				<real>0.5</real>
			</dict>
			<!--
			<dict>
				<key>type</key>
				<string>prismatic</string>
				<key>body1</key>
				<string>hero</string>
				<key>motorSpeed</key>
				<real>10.0</real>
				<key>maxMotorTorque</key>
				<real>1000.0</real>
				<key>enableMotor</key>
				<false/>
				<key>lowerTranslation</key>
				<real>-160</real>
				<key>upperTranslation</key>
				<real>160</real>
				<key>xdir</key>
				<real>0.0</real>
				<key>ydir</key>
				<real>1.0</real>
				<key>enableLimit</key>
				<true/>
			</dict>
			-->
		</array>
		
		<key>sheets</key>
		<array>
			<dict>
				<key>atlas</key>
				<string>blocks</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>atlas</key>
				<string>ball_sprites</string>
				<key>id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>atlas</key>
				<string>rotor_sprites</string>
				<key>id</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>atlas</key>
				<string>popup</string>
				<key>id</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
