<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentlevel</key>
	<integer>0</integer>
	<key>survival_highscore</key>
	<integer>0</integer>
	<key>tutorials</key>
	<array>
		<dict>
			<key>id</key>
			<string>tutorial_1</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0119.PNG</string>
			<key>levelTitle</key>
			<string>Meet the star</string>
		</dict>
		<dict>
			<key>id</key>
			<string>tutorial_2</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0120.PNG</string>
			<key>levelTitle</key>
			<string>Meet your enemy</string>
		</dict>
		<dict>
			<key>id</key>
			<string>tutorial_3</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0122.PNG</string>
			<key>levelTitle</key>
			<string>Exploding nuts</string>
		</dict>
		<dict>
			<key>id</key>
			<string>tutorial_4</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0121.PNG</string>
			<key>levelTitle</key>
			<string>Spikey your best buddy</string>
		</dict>
		<dict>
			<key>id</key>
			<string>tutorial_5</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0125.PNG</string>
			<key>levelTitle</key>
			<string>Horserotorvator</string>
		</dict>
		<dict>
			<key>id</key>
			<string>tutorial_6</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0127.PNG</string>
			<key>levelTitle</key>
			<string>Meet your friend</string>
		</dict>
	</array>
	<key>levels</key>
	<array>
		<dict>
			<key>id</key>
			<string>TUT</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>tutorials_preview.png</string>
			<key>levelTitle</key>
			<string>Tutorials</string>
			<key>par</key>
			<integer>100</integer>
			<key>tbl</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Play_A_Lop</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Play_A_Lop.png</string>
			<key>levelTitle</key>
			<string>Play A Lop</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Empty_The_Bucket</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Empty_The_Bucket.png</string>
			<key>levelTitle</key>
			<string>Empty The Bucket</string>
			<key>par</key>
			<integer>20</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Heavy_Friend</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Heavy_Friend.png</string>
			<key>levelTitle</key>
			<string>Heavy Friend</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Bash_The_Beam</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Bash_The_Beam.png</string>
			<key>levelTitle</key>
			<string>Bash The Beam</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Crowd_Surfing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Crowd_Surfing.png</string>
			<key>levelTitle</key>
			<string>Crowd Surfing</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Just_Push</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Just_Push.png</string>
			<key>levelTitle</key>
			<string>Just Push</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Heavy_Dudes</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Heavy_Dudes.png</string>
			<key>levelTitle</key>
			<string>Heavy Dudes</string>
			<key>par</key>
			<integer>18</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Tower_Of_Power</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Tower_Of_Power.png</string>
			<key>levelTitle</key>
			<string>Tower Of Power</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Off_The_Wall</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Off_The_Wall.png</string>
			<key>levelTitle</key>
			<string>Off The Wall</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Balance_Boy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Balance_Boy.png</string>
			<key>levelTitle</key>
			<string>Balance Boy</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>All_Nuts_And_Beams</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>All_Nuts_And_Beams.png</string>
			<key>levelTitle</key>
			<string>All Nuts And Beams</string>
			<key>par</key>
			<integer>15</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>One_Wiggle</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>One_Wiggle.png</string>
			<key>levelTitle</key>
			<string>One Wiggle</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Great_Unleash</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Great_Unleash.png</string>
			<key>levelTitle</key>
			<string>Great Unleash</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Cableway</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Cableway.png</string>
			<key>levelTitle</key>
			<string>Cableway</string>
			<key>par</key>
			<integer>30</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Enemy_Dispenser</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Enemy_Dispenser.png</string>
			<key>levelTitle</key>
			<string>Enemy Dispenser</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Chain_Of_Evil</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Chain_Of_Evil.png</string>
			<key>levelTitle</key>
			<string>Chain Of Evil</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Enemies_in_Orbit</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Enemies_in_Orbit.png</string>
			<key>levelTitle</key>
			<string>Enemies in Orbit</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Temple_Of_Boom</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Temple_Of_Boom.png</string>
			<key>levelTitle</key>
			<string>Temple Of Boom</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Rotational_Problems</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Rotational_Problems.png</string>
			<key>levelTitle</key>
			<string>Rotational Problems</string>
			<key>par</key>
			<integer>15</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Swing_Spikey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Swing_Spikey.png</string>
			<key>levelTitle</key>
			<string>Swing Spikey</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Swing_when_you_Win</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Swing_when_you_Win.png</string>
			<key>levelTitle</key>
			<string>Swing when you Win</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Logicz</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Logicz.png</string>
			<key>levelTitle</key>
			<string>Logicz</string>
			<key>par</key>
			<integer>200</integer>
			<key>tbl</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Launch_Base</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Launch_Base.png</string>
			<key>levelTitle</key>
			<string>Launch Base</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Meet_The_Wizard</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Meet_The_Wizard.png</string>
			<key>levelTitle</key>
			<string>Meet The Wizard</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Chain_Surfing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Chain_Surfing.png</string>
			<key>levelTitle</key>
			<string>Chain Surfing</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Pinball_Machine</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Pinball_Machine.png</string>
			<key>levelTitle</key>
			<string>Pinball Machine</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Launch_Your_Enemies</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Launch_Your_Enemies.png</string>
			<key>levelTitle</key>
			<string>Launch Your Enemies</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Bombs_Ahead</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Bombs_Ahead.png</string>
			<key>levelTitle</key>
			<string>Bombs Ahead</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Ball_Time</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Ball_Time.png</string>
			<key>levelTitle</key>
			<string>Ball Time</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Stuff_of_Damocles</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Stuff_of_Damocles.png</string>
			<key>levelTitle</key>
			<string>Stuff of Damocles</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Monkey_Swing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Monkey_Swing.png</string>
			<key>levelTitle</key>
			<string>Monkey Swing</string>
			<key>par</key>
			<integer>32</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Systematic_Overload</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Systematic_Overload.png</string>
			<key>levelTitle</key>
			<string>Systematic Overload</string>
			<key>par</key>
			<integer>48</integer>
			<key>tbl</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Dutch_Windmill</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Dutch_Windmill.png</string>
			<key>levelTitle</key>
			<string>Dutch Windmill</string>
			<key>par</key>
			<integer>10</integer>
			<key>tbl</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Atomic_Wax</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Atomic_Wax.png</string>
			<key>levelTitle</key>
			<string>Atomic Wax</string>
			<key>par</key>
			<integer>160</integer>
			<key>tbl</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Its_All_Diagonals</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Its_All_Diagonals.png</string>
			<key>levelTitle</key>
			<string>Its All Diagonals</string>
			<key>par</key>
			<integer>56</integer>
			<key>tbl</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Destroying_the_Balance</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Destroying_the_Balance.png</string>
			<key>levelTitle</key>
			<string>Destroying the Balance</string>
			<key>par</key>
			<integer>140</integer>
			<key>tbl</key>
			<integer>107</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Volleyball_Spikey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Volleyball_Spikey.png</string>
			<key>levelTitle</key>
			<string>Volleyball Spikey</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>Piramid_Of_Egypt</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>Piramid_Of_Egypt.png</string>
			<key>levelTitle</key>
			<string>Piramid Of Egypt</string>
			<key>par</key>
			<integer>32</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>The_Grand_Final</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>The_Grand_Final.png</string>
			<key>levelTitle</key>
			<string>The Grand Final</string>
			<key>par</key>
			<integer>400</integer>
			<key>tbl</key>
			<integer>400</integer>
		</dict>
	</array>
</dict>
</plist>
