<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentlevel</key>
	<integer>0</integer>
	<key>survival_highscore</key>
	<integer>0</integer>
	<key>tutorials</key>
	<array>
		<dict>
			<key>id</key>
			<string>leveldata_2/tutorial_1</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0119.PNG</string>
			<key>levelTitle</key>
			<string>Meet the star</string>
		</dict>
		<dict>
			<key>id</key>
			<string>leveldata_2/tutorial_2</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>IMG_0120.PNG</string>
			<key>levelTitle</key>
			<string>Meet your enemy</string>
		</dict>
	</array>
	<key>levels</key>
	<array>
		<dict>
			<key>id</key>
			<string>TUT</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>tutorials_preview.png</string>
			<key>levelTitle</key>
			<string>Tutorials</string>
			<key>par</key>
			<integer>100</integer>
			<key>tbl</key>
			<integer>600</integer>
		</dict>
        
        
        
        <!-- GENERATED LEVELS -->
        
        
		<dict>
			<key>id</key>
			<string>leveldata_2/Timing_Is_Key</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Timing_Is_Key.png</string>
			<key>levelTitle</key>
			<string>Timing Is Key</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>4</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Big_Fella</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Big_Fella.png</string>
			<key>levelTitle</key>
			<string>Big Fella</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>36</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Kick_Spikey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Kick_Spikey.png</string>
			<key>levelTitle</key>
			<string>Kick Spikey</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Its_Just_A_Bomb</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Its_Just_A_Bomb.png</string>
			<key>levelTitle</key>
			<string>Its Just A Bomb</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/A_Swinging_Star</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/A_Swinging_Star.png</string>
			<key>levelTitle</key>
			<string>A Swinging Star</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Eifel_Brought_Us_Tower</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Eifel_Brought_Us_Tower.png</string>
			<key>levelTitle</key>
			<string>Eifel Brought Us Tower</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/He_Is_Swinging</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/He_Is_Swinging.png</string>
			<key>levelTitle</key>
			<string>He Is Swinging</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Easy_Peacy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Easy_Peacy.png</string>
			<key>levelTitle</key>
			<string>Easy Peacy</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Chevy_To_The_Levy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Chevy_To_The_Levy.png</string>
			<key>levelTitle</key>
			<string>Chevy To The Levy</string>
			<key>par</key>
			<integer>44</integer>
			<key>tbl</key>
			<integer>52</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/It_Looks_Easy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/It_Looks_Easy.png</string>
			<key>levelTitle</key>
			<string>It Looks Easy</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Jos_Brink_Memorial_BBQ</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Jos_Brink_Memorial_BBQ.png</string>
			<key>levelTitle</key>
			<string>Jos Brink Memorial BBQ</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/It_A_jungle_In_Here</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/It_A_jungle_In_Here.png</string>
			<key>levelTitle</key>
			<string>It A jungle In Here</string>
			<key>par</key>
			<integer>76</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Mind_The_Blades</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Mind_The_Blades.png</string>
			<key>levelTitle</key>
			<string>Mind The Blades</string>
			<key>par</key>
			<integer>20</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Bouncy_Bouncy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Bouncy_Bouncy.png</string>
			<key>levelTitle</key>
			<string>Bouncy Bouncy</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Bound_Together</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Bound_Together.png</string>
			<key>levelTitle</key>
			<string>Bound Together</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>4</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Watch_Out</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Watch_Out.png</string>
			<key>levelTitle</key>
			<string>Watch Out</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Loads_Of_Enemies</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Loads_Of_Enemies.png</string>
			<key>levelTitle</key>
			<string>Loads Of Enemies</string>
			<key>par</key>
			<integer>20</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/The_Hitman</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/The_Hitman.png</string>
			<key>levelTitle</key>
			<string>The Hitman</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Easy_Does_It</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Easy_Does_It.png</string>
			<key>levelTitle</key>
			<string>Easy Does It</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Wired</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Wired.png</string>
			<key>levelTitle</key>
			<string>Wired</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Release_The_Cheese</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Release_The_Cheese.png</string>
			<key>levelTitle</key>
			<string>Release The Cheese</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Jump_Up_And_Get_Down</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Jump_Up_And_Get_Down.png</string>
			<key>levelTitle</key>
			<string>Jump Up And Get Down</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Escape_From_Alcatel</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Escape_From_Alcatel.png</string>
			<key>levelTitle</key>
			<string>Escape From Alcatel</string>
			<key>par</key>
			<integer>40</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Clockwork_Monkey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Clockwork_Monkey.png</string>
			<key>levelTitle</key>
			<string>Clockwork Monkey</string>
			<key>par</key>
			<integer>20</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Blade_Walker</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Blade_Walker.png</string>
			<key>levelTitle</key>
			<string>Blade Walker</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Huh_What_Now</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Huh_What_Now.png</string>
			<key>levelTitle</key>
			<string>Huh What Now</string>
			<key>par</key>
			<integer>48</integer>
			<key>tbl</key>
			<integer>36</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Swing_A_Beam</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Swing_A_Beam.png</string>
			<key>levelTitle</key>
			<string>Swing A Beam</string>
			<key>par</key>
			<integer>40</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Captain_Caveman</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Captain_Caveman.png</string>
			<key>levelTitle</key>
			<string>Captain Caveman</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/A_Mazing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/A_Mazing.png</string>
			<key>levelTitle</key>
			<string>A Mazing</string>
			<key>par</key>
			<integer>344</integer>
			<key>tbl</key>
			<integer>304</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/The_Maze_You_Special</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/The_Maze_You_Special.png</string>
			<key>levelTitle</key>
			<string>The Maze You Special</string>
			<key>par</key>
			<integer>96</integer>
			<key>tbl</key>
			<integer>72</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/The_M_Lost_His_Mind</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/The_M_Lost_His_Mind.png</string>
			<key>levelTitle</key>
			<string>The M Lost His Mind</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Unfriendly_Family</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Unfriendly_Family.png</string>
			<key>levelTitle</key>
			<string>Unfriendly Family</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Dropping_Bars</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Dropping_Bars.png</string>
			<key>levelTitle</key>
			<string>Dropping Bars</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/The_Swing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/The_Swing.png</string>
			<key>levelTitle</key>
			<string>The Swing</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>56</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/X_Games</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/X_Games.png</string>
			<key>levelTitle</key>
			<string>X Games</string>
			<key>par</key>
			<integer>44</integer>
			<key>tbl</key>
			<integer>36</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Kick_Out_The_Jams</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Kick_Out_The_Jams.png</string>
			<key>levelTitle</key>
			<string>Kick Out The Jams</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Thunder_Struck</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Thunder_Struck.png</string>
			<key>levelTitle</key>
			<string>Thunder Struck</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Wabi_Sabi</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Wabi_Sabi.png</string>
			<key>levelTitle</key>
			<string>Wabi Sabi</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_2/Free_Willy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_2/Free_Willy.png</string>
			<key>levelTitle</key>
			<string>Free Willy</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

        
         <!-- END GENERATED LEVELS -->
         
         
	</array>
</dict>
</plist>
