<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentlevel</key>
	<integer>0</integer>
	<key>survival_highscore</key>
	<integer>0</integer>
	<key>tutorials</key>
	<array>
	</array>
	<key>levels</key>
	<array>
        
        <!-- GENERATED LEVELS -->
        
        
		<dict>
			<key>id</key>
			<string>leveldata_3/Accelerate_Now</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Accelerate_Now.png</string>
			<key>levelTitle</key>
			<string>Accelerate Now</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Nice_Moustache</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Nice_Moustache.png</string>
			<key>levelTitle</key>
			<string>Nice Moustache</string>
			<key>par</key>
			<integer>32</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Beat_The_Bugger</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Beat_The_Bugger.png</string>
			<key>levelTitle</key>
			<string>Beat The Bugger</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Up_The_Shaft</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Up_The_Shaft.png</string>
			<key>levelTitle</key>
			<string>Up The Shaft</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Wired_Again</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Wired_Again.png</string>
			<key>levelTitle</key>
			<string>Wired Again</string>
			<key>par</key>
			<integer>32</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/AI_Enemy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/AI_Enemy.png</string>
			<key>levelTitle</key>
			<string>AI Enemy</string>
			<key>par</key>
			<integer>48</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/The_Follower</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/The_Follower.png</string>
			<key>levelTitle</key>
			<string>The Follower</string>
			<key>par</key>
			<integer>96</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Bombs_Ahead</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Bombs_Ahead.png</string>
			<key>levelTitle</key>
			<string>Bombs Ahead</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/They_Will_Get_You</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/They_Will_Get_You.png</string>
			<key>levelTitle</key>
			<string>They Will Get You</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Will_It_Blend</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Will_It_Blend.png</string>
			<key>levelTitle</key>
			<string>Will It Blend</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Jump_Ramp</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Jump_Ramp.png</string>
			<key>levelTitle</key>
			<string>Jump Ramp</string>
			<key>par</key>
			<integer>56</integer>
			<key>tbl</key>
			<integer>68</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Tumbling_Down</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Tumbling_Down.png</string>
			<key>levelTitle</key>
			<string>Tumbling Down</string>
			<key>par</key>
			<integer>40</integer>
			<key>tbl</key>
			<integer>40</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Chained_Reaction</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Chained_Reaction.png</string>
			<key>levelTitle</key>
			<string>Chained Reaction</string>
			<key>par</key>
			<integer>56</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Fly_Flies</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Fly_Flies.png</string>
			<key>levelTitle</key>
			<string>Fly Flies</string>
			<key>par</key>
			<integer>48</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Bouncer</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Bouncer.png</string>
			<key>levelTitle</key>
			<string>Bouncer</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Friendly_Push</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Friendly_Push.png</string>
			<key>levelTitle</key>
			<string>Friendly Push</string>
			<key>par</key>
			<integer>52</integer>
			<key>tbl</key>
			<integer>88</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Triple_Touch</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Triple_Touch.png</string>
			<key>levelTitle</key>
			<string>Triple Touch</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Get_In_The_Car</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Get_In_The_Car.png</string>
			<key>levelTitle</key>
			<string>Get In The Car</string>
			<key>par</key>
			<integer>40</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/I_Can_See_Spikey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/I_Can_See_Spikey.png</string>
			<key>levelTitle</key>
			<string>I Can See Spikey</string>
			<key>par</key>
			<integer>144</integer>
			<key>tbl</key>
			<integer>84</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Dazzling_With_BS</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Dazzling_With_BS.png</string>
			<key>levelTitle</key>
			<string>Dazzling With BS</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Daily_Mahal</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Daily_Mahal.png</string>
			<key>levelTitle</key>
			<string>Daily Mahal</string>
			<key>par</key>
			<integer>116</integer>
			<key>tbl</key>
			<integer>84</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Bump_The_Chump</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Bump_The_Chump.png</string>
			<key>levelTitle</key>
			<string>Bump The Chump</string>
			<key>par</key>
			<integer>64</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Fast_Eddy</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Fast_Eddy.png</string>
			<key>levelTitle</key>
			<string>Fast Eddy</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/What_The_Bomb</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/What_The_Bomb.png</string>
			<key>levelTitle</key>
			<string>What The Bomb</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Twelve_Monkies</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Twelve_Monkies.png</string>
			<key>levelTitle</key>
			<string>Twelve Monkies</string>
			<key>par</key>
			<integer>166</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Muchos_Nachos</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Muchos_Nachos.png</string>
			<key>levelTitle</key>
			<string>Muchos Nachos</string>
			<key>par</key>
			<integer>243</integer>
			<key>tbl</key>
			<integer>182</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Tumble_Drop</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Tumble_Drop.png</string>
			<key>levelTitle</key>
			<string>Tumble Drop</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Connected_To_Spikey</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Connected_To_Spikey.png</string>
			<key>levelTitle</key>
			<string>Connected To Spikey</string>
			<key>par</key>
			<integer>112</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Chain_Reaction</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Chain_Reaction.png</string>
			<key>levelTitle</key>
			<string>Chain Reaction</string>
			<key>par</key>
			<integer>72</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Just_Swing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Just_Swing.png</string>
			<key>levelTitle</key>
			<string>Just Swing</string>
			<key>par</key>
			<integer>96</integer>
			<key>tbl</key>
			<integer>56</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Surfs_Up</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Surfs_Up.png</string>
			<key>levelTitle</key>
			<string>Surfs Up</string>
			<key>par</key>
			<integer>68</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/The_Hardest_Button</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/The_Hardest_Button.png</string>
			<key>levelTitle</key>
			<string>The Hardest Button</string>
			<key>par</key>
			<integer>52</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Keep_Em_Save</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Keep_Em_Save.png</string>
			<key>levelTitle</key>
			<string>Keep Em Save</string>
			<key>par</key>
			<integer>72</integer>
			<key>tbl</key>
			<integer>52</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Seen_Before</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Seen_Before.png</string>
			<key>levelTitle</key>
			<string>Seen Before</string>
			<key>par</key>
			<integer>16</integer>
			<key>tbl</key>
			<integer>8</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Were_Are_The_Boids</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Were_Are_The_Boids.png</string>
			<key>levelTitle</key>
			<string>Were Are The Boids</string>
			<key>par</key>
			<integer>40</integer>
			<key>tbl</key>
			<integer>28</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Robocod</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Robocod.png</string>
			<key>levelTitle</key>
			<string>Robocod</string>
			<key>par</key>
			<integer>92</integer>
			<key>tbl</key>
			<integer>36</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Rag_Doll</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Rag_Doll.png</string>
			<key>levelTitle</key>
			<string>Rag Doll</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>56</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/What_The_Font</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/What_The_Font.png</string>
			<key>levelTitle</key>
			<string>What The Font</string>
			<key>par</key>
			<integer>60</integer>
			<key>tbl</key>
			<integer>84</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Total_Workout</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Total_Workout.png</string>
			<key>levelTitle</key>
			<string>Total Workout</string>
			<key>par</key>
			<integer>44</integer>
			<key>tbl</key>
			<integer>80</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_3/Wip_Wap</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_3/Wip_Wap.png</string>
			<key>levelTitle</key>
			<string>Wip Wap</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>400</integer>
		</dict>

        
         <!-- END GENERATED LEVELS -->
         
         
	</array>
</dict>
</plist>
