<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentlevel</key>
	<integer>0</integer>
	<key>survival_highscore</key>
	<integer>0</integer>
	<key>tutorials</key>
	<array>
	</array>
	<key>levels</key>
	<array>
        
        <!-- GENERATED LEVELS -->
        
        
		<dict>
			<key>id</key>
			<string>leveldata_4/Dodge_It</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Dodge_It.png</string>
			<key>levelTitle</key>
			<string>Dodge It</string>
			<key>par</key>
			<integer>12</integer>
			<key>tbl</key>
			<integer>12</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Bump</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Bump.png</string>
			<key>levelTitle</key>
			<string>Bump</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Little_Buddha</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Little_Buddha.png</string>
			<key>levelTitle</key>
			<string>Little Buddha</string>
			<key>par</key>
			<integer>20</integer>
			<key>tbl</key>
			<integer>4</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Hexagram</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Hexagram.png</string>
			<key>levelTitle</key>
			<string>Hexagram</string>
			<key>par</key>
			<integer>100</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Part_Of_A_Chain</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Part_Of_A_Chain.png</string>
			<key>levelTitle</key>
			<string>Part Of A Chain</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>40</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Our_House</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Our_House.png</string>
			<key>levelTitle</key>
			<string>Our House</string>
			<key>par</key>
			<integer>166</integer>
			<key>tbl</key>
			<integer>103</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/One_Too_Many</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/One_Too_Many.png</string>
			<key>levelTitle</key>
			<string>One Too Many</string>
			<key>par</key>
			<integer>303</integer>
			<key>tbl</key>
			<integer>84</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Are_Those_pigs</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Are_Those_pigs.png</string>
			<key>levelTitle</key>
			<string>Are Those pigs</string>
			<key>par</key>
			<integer>188</integer>
			<key>tbl</key>
			<integer>88</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Its_A_Long_Way</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Its_A_Long_Way.png</string>
			<key>levelTitle</key>
			<string>Its A Long Way</string>
			<key>par</key>
			<integer>100</integer>
			<key>tbl</key>
			<integer>40</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Climb_Up</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Climb_Up.png</string>
			<key>levelTitle</key>
			<string>Climb Up</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>76</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/The_Bridge_Too_Far</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/The_Bridge_Too_Far.png</string>
			<key>levelTitle</key>
			<string>The Bridge Too Far</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>4</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Connected</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Connected.png</string>
			<key>levelTitle</key>
			<string>Connected</string>
			<key>par</key>
			<integer>108</integer>
			<key>tbl</key>
			<integer>52</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/The_Carrier</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/The_Carrier.png</string>
			<key>levelTitle</key>
			<string>The Carrier</string>
			<key>par</key>
			<integer>104</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Pinball_Madness</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Pinball_Madness.png</string>
			<key>levelTitle</key>
			<string>Pinball Madness</string>
			<key>par</key>
			<integer>128</integer>
			<key>tbl</key>
			<integer>64</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Mission_Impossible</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Mission_Impossible.png</string>
			<key>levelTitle</key>
			<string>Mission Impossible</string>
			<key>par</key>
			<integer>44</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/HimmelBau</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/HimmelBau.png</string>
			<key>levelTitle</key>
			<string>HimmelBau</string>
			<key>par</key>
			<integer>28</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Crowded_House</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Crowded_House.png</string>
			<key>levelTitle</key>
			<string>Crowded House</string>
			<key>par</key>
			<integer>76</integer>
			<key>tbl</key>
			<integer>36</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Cant_Move</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Cant_Move.png</string>
			<key>levelTitle</key>
			<string>Cant Move</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>320</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Stay_Mellow</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Stay_Mellow.png</string>
			<key>levelTitle</key>
			<string>Stay Mellow</string>
			<key>par</key>
			<integer>4</integer>
			<key>tbl</key>
			<integer>40</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Multi_Ball</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Multi_Ball.png</string>
			<key>levelTitle</key>
			<string>Multi Ball</string>
			<key>par</key>
			<integer>96</integer>
			<key>tbl</key>
			<integer>24</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Another_Bombtrack</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Another_Bombtrack.png</string>
			<key>levelTitle</key>
			<string>Another Bombtrack</string>
			<key>par</key>
			<integer>270</integer>
			<key>tbl</key>
			<integer>102</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Hole_In_The_Floor</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Hole_In_The_Floor.png</string>
			<key>levelTitle</key>
			<string>Hole In The Floor</string>
			<key>par</key>
			<integer>92</integer>
			<key>tbl</key>
			<integer>68</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/House_With_A_View</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/House_With_A_View.png</string>
			<key>levelTitle</key>
			<string>House With A View</string>
			<key>par</key>
			<integer>400</integer>
			<key>tbl</key>
			<integer>148</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/World_Tower_Fund</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/World_Tower_Fund.png</string>
			<key>levelTitle</key>
			<string>World Tower Fund</string>
			<key>par</key>
			<integer>84</integer>
			<key>tbl</key>
			<integer>44</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/It_Can_Be_Done</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/It_Can_Be_Done.png</string>
			<key>levelTitle</key>
			<string>It Can Be Done</string>
			<key>par</key>
			<integer>322</integer>
			<key>tbl</key>
			<integer>199</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Monkey_in_Wonderland</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Monkey_in_Wonderland.png</string>
			<key>levelTitle</key>
			<string>Monkey in Wonderland</string>
			<key>par</key>
			<integer>120</integer>
			<key>tbl</key>
			<integer>56</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Diabolic_Car</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Diabolic_Car.png</string>
			<key>levelTitle</key>
			<string>Diabolic Car</string>
			<key>par</key>
			<integer>80</integer>
			<key>tbl</key>
			<integer>88</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Rise_Above</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Rise_Above.png</string>
			<key>levelTitle</key>
			<string>Rise Above</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>288</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Keep_Em_Rolling</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Keep_Em_Rolling.png</string>
			<key>levelTitle</key>
			<string>Keep Em Rolling</string>
			<key>par</key>
			<integer>140</integer>
			<key>tbl</key>
			<integer>136</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/No_Escape</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/No_Escape.png</string>
			<key>levelTitle</key>
			<string>No Escape</string>
			<key>par</key>
			<integer>24</integer>
			<key>tbl</key>
			<integer>16</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/It_Dont_Mean_A_Thing</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/It_Dont_Mean_A_Thing.png</string>
			<key>levelTitle</key>
			<string>It Dont Mean A Thing</string>
			<key>par</key>
			<integer>96</integer>
			<key>tbl</key>
			<integer>72</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Surf_Safari</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Surf_Safari.png</string>
			<key>levelTitle</key>
			<string>Surf Safari</string>
			<key>par</key>
			<integer>36</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/I_Can_Feel_Tension</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/I_Can_Feel_Tension.png</string>
			<key>levelTitle</key>
			<string>I Can Feel Tension</string>
			<key>par</key>
			<integer>72</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Coming_From_Above</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Coming_From_Above.png</string>
			<key>levelTitle</key>
			<string>Coming From Above</string>
			<key>par</key>
			<integer>80</integer>
			<key>tbl</key>
			<integer>20</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Come_And_Get_It</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Come_And_Get_It.png</string>
			<key>levelTitle</key>
			<string>Come And Get It</string>
			<key>par</key>
			<integer>8</integer>
			<key>tbl</key>
			<integer>4</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Strange_Rotors</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Strange_Rotors.png</string>
			<key>levelTitle</key>
			<string>Strange Rotors</string>
			<key>par</key>
			<integer>88</integer>
			<key>tbl</key>
			<integer>48</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Anger_Management</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Anger_Management.png</string>
			<key>levelTitle</key>
			<string>Anger Management</string>
			<key>par</key>
			<integer>80</integer>
			<key>tbl</key>
			<integer>40</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Domino_D_Day</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Domino_D_Day.png</string>
			<key>levelTitle</key>
			<string>Domino D Day</string>
			<key>par</key>
			<integer>285</integer>
			<key>tbl</key>
			<integer>197</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Destroy_The_Dangler</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Destroy_The_Dangler.png</string>
			<key>levelTitle</key>
			<string>Destroy The Dangler</string>
			<key>par</key>
			<integer>32</integer>
			<key>tbl</key>
			<integer>32</integer>
		</dict>

		<dict>
			<key>id</key>
			<string>leveldata_4/Chop_Chop_Burito</string>
			<key>score</key>
			<integer>0</integer>
			<key>pic</key>
			<string>leveldata_4/Chop_Chop_Burito.png</string>
			<key>levelTitle</key>
			<string>Chop Chop Burito</string>
			<key>par</key>
			<integer>80</integer>
			<key>tbl</key>
			<integer>400</integer>
		</dict>

        
         <!-- END GENERATED LEVELS -->
         
         
	</array>
</dict>
</plist>
