<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>tutorial_1</string>
		<key>pic</key>
		<string>IMG_0119.PNG</string>
		<key>levelTitle</key>
		<string>Meet the star</string>
		<key>score</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_2</string>
		<key>pic</key>
		<string>IMG_0120.PNG</string>
		<key>levelTitle</key>
		<string>Meet your enemy</string>
		<key>score</key>
		<integer>4630</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_3</string>
		<key>pic</key>
		<string>IMG_0122.PNG</string>
		<key>levelTitle</key>
		<string>Exploding nuts</string>
		<key>score</key>
		<integer>5478</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_4</string>
		<key>pic</key>
		<string>IMG_0121.PNG</string>
		<key>levelTitle</key>
		<string>Spikey your best buddy</string>
		<key>score</key>
		<integer>2390</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_5</string>
		<key>pic</key>
		<string>IMG_0123.PNG</string>
		<key>levelTitle</key>
		<string>tutorial_5</string>
		<key>score</key>
		<integer>2310</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_6</string>
		<key>levelTitle</key>
		<string>tutorial_6</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_7</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_8</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>tutorial_9</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_1</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_2</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_3</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_4</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_5</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_6</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_7</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_8</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_9</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_10</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_11</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_12</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_13</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_14</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_15</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_16</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_17</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_18</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_19</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_20</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_21</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_22</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_23</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_24</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_25</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_26</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_27</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_28</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_29</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_30</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>level_31</string>
		<key>score</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
