

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>level</key>
    <dict>
        <key>name</key>
        <string>level 1 test level</string>
        <key>background</key>
        <string>doodle_bg.png</string>

        <!-- SPRITES -->

        <key>compounds</key>
        <array>
            
            <dict>
                <key>body</key>
                <dict>
                    <key>x</key>
                    <integer>20</integer>
                    <key>y</key>
                    <integer>10</integer>
                    <key>width</key>
                    <integer>30</integer>
                    <key>height</key>
                    <integer>30</integer>
                    <key>firstFrame</key>
                    <string>hero.png</string>
                    <key>sheet_id</key>
                    <integer>5</integer>
                    <key>id</key>
                    <integer>20</integer>
                    <key>name</key>
                    <string>Hero</string>
                    <key>classname</key>
                    <string>HeroSprite</string>
                </dict>
                <key>shapes</key>
                <array>
                    <dict>
                        <key>x</key>
                        <integer>0</integer>
                        <key>y</key>
                        <integer>0</integer>
                        <key>width</key>
                        <integer>30</integer>
                        <key>height</key>
                        <integer>30</integer>
                        <key>type</key>
                        <string>circ</string>
                        <key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
                    </dict>
                </array>
            </dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>25</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Enemy</string>
					<key>classname</key>
					<string>EnemySprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>75</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>Enemy</string>
					<key>classname</key>
					<string>EnemySprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>125</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>friend0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>Friend</string>
					<key>classname</key>
					<string>FriendSprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>5</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>175</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>Enemy</string>
					<key>classname</key>
					<string>EnemySprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>225</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>Enemy</string>
					<key>classname</key>
					<string>EnemySprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>160</integer>
					<key>y</key>
					<integer>275</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>Enemy</string>
					<key>classname</key>
					<string>EnemySprite</string>
                    <key>static</key>
                    <false/>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>400</integer>
					<key>y</key>
					<integer>100</integer>
					<key>width</key>
					<integer>20</integer>
					<key>height</key>
					<integer>20</integer>
					<key>firstFrame</key>
					<string>star0001.png</string>
					<key>sheet_id</key>
					<integer>5</integer>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>Star</string>
					<key>classname</key>
					<string>StarSprite</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>20</integer>
						<key>height</key>
						<integer>20</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>

        </array>

        <!-- JOINTS -->

        <key>joints</key>
        <array>
            
        </array>

        <!-- CONTACTS -->

        <key>contacts</key>
        <array>
            
			<dict>
				<key>sprite1</key>
				<string>EnemySprite</string>
				<key>sprite2</key>
				<string></string>
				<key>eventName</key>
				<string>onEnemyHit</string>
			</dict>
            <dict>
                <key>sprite1</key>
                <string>Hero</string>
                <key>sprite2</key>
                <string>Enemy</string>
                <key>eventName</key>
                <string>onLose</string>
            </dict>

 
            <dict>
                <key>sprite1</key>
                <string>Hero</string>
                <key>sprite2</key>
                <string>Star</string>
                <key>eventName</key>
                <string>onWin</string>
            </dict>


        </array>
        <!-- SHEETS -->

        <key>sheets</key>
        <array>
            
            <dict>
                <key>atlas</key>
                <string>test_texture</string>
                <key>atlas2</key>
                <string>tut_textures</string>
                <key>id</key>
                <integer>5</integer>
            </dict>

        </array>

    </dict>
</dict>
</plist>
