<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level</key>
	<dict>
		<key>decals</key>
		<string></string>
		<key>name</key>
		<string>Tutorial 2</string>
		<key>background</key>
		<string>tutorial_scene_background_2_480_320.png</string>
		<key>compounds</key>
		<array>
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>80</integer>
					<key>y</key>
					<integer>200</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>hero.png</string>
					<key>sheet_id</key>
					<integer>6</integer>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>hero</string>
					<key>classname</key>
					<string>HeroSprite</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>10</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>200</integer>
					<key>width</key>
					<integer>100</integer>
					<key>height</key>
					<integer>100</integer>
					<key>firstFrame</key>
					<string>enemy0001.png</string>
					<key>sheet_id</key>
					<integer>6</integer>
					<key>id</key>
					<integer>67</integer>
					<key>name</key>
					<string>bungel</string>
					<key>classname</key>
					<string>EnemySprite</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>100</integer>
						<key>height</key>
						<integer>100</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>10</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>380</integer>
					<key>y</key>
					<integer>40</integer>
					<key>width</key>
					<integer>50</integer>
					<key>height</key>
					<integer>50</integer>
					<key>firstFrame</key>
					<string>star0001.png</string>
					<key>sheet_id</key>
					<integer>6</integer>
					<key>id</key>
					<integer>34</integer>
					<key>name</key>
					<string>star</string>
					<key>classname</key>
					<string>StarSprite</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>50</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>circ</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>70</integer>
					<key>static</key>
					<true/>
					<key>width</key>
					<integer>125</integer>
					<key>height</key>
					<integer>36</integer>
					<key>firstFrame</key>
					<string>frame_01</string>
					<key>sheet_id</key>
					<integer>1</integer>
					<key>id</key>
					<integer>36</integer>
					<key>name</key>
					<string>block1</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>117</integer>
						<key>height</key>
						<integer>36</integer>
						<key>type</key>
						<string>rect</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>body</key>
				<dict>
					<key>x</key>
					<integer>240</integer>
					<key>y</key>
					<integer>3</integer>
					<key>static</key>
					<true/>
					<key>width</key>
					<integer>480</integer>
					<key>height</key>
					<integer>50</integer>
					<key>angle</key>
					<integer>0</integer>
					<key>firstFrame</key>
					<string>frame_01</string>
					<key>sheet_id</key>
					<integer>1</integer>
					<key>id</key>
					<integer>66</integer>
					<key>name</key>
					<string>groundblock</string>
				</dict>
				<key>shapes</key>
				<array>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>480</integer>
						<key>height</key>
						<integer>50</integer>
						<key>type</key>
						<string>rect</string>
						<key>friction</key>
						<real>0.5</real>
						<key>density</key>
						<integer>20</integer>
						<key>restitution</key>
						<real>0.2</real>
					</dict>
				</array>
			</dict>
		</array>
		<key>contacts</key>
		<array>
			<dict>
				<key>sprite1</key>
				<string>hero</string>
				<key>sprite2</key>
				<string>star</string>
				<key>eventName</key>
				<string>onTutorialFinished</string>
			</dict>
			<dict>
				<key>sprite1</key>
				<string>hero</string>
				<key>sprite2</key>
				<string>bungel</string>
				<key>eventName</key>
				<string>onLose</string>
			</dict>
		</array>
		<key>joints</key>
		<array/>
		<key>sheets</key>
		<array>
			<dict>
				<key>atlas</key>
				<string>tut_textures</string>
				<key>atlas2</key>
				<string>tut_textures</string>
				<key>id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>atlas</key>
				<string>blocks</string>
				<key>atlas2</key>
				<string>blocks</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
